{{>layouts/header}}

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Contents</th>
        </tr>
        </thead>
        {{#articles}}
        <tbody>
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td>{{contents}}</td>
        </tr>
        {{/articles}}
        </tbody>
    </table>

{{>layouts/footer}}